<launch>
    <node name="imu" pkg="imu" type="imu.py" output="screen"/>
    <node name="serial_node" pkg="rosserial_python" type="serial_node.py" output="screen">
        <param name="~port" value="/dev/ttyACM0" />
    </node>
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find imu)/rviz/imu.rviz"/>
    <node pkg="turtlesim" type="turtlesim_node" name="sim"/>
</launch>